---
layout: default
---

<div class="posts">

  {% for post in site.posts limit:5 %}
    
    <article class="row">
      
        <div class="col-md-12">
            <div class="row">
                <p class="title"><a href="{{post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                {% include post-info.html %}
            </div>
            <div class="row">        
                <div class="post-content">
                    {{post.content }}           
                </div>
            </div>
       </div>
                 
    </article>
    
  {% endfor %}

</div>
