<div class="right-pane-container">    
    
    <img class="profile-pic img-circle" src="/assets/image/daniel.jpg"></img>
    
    <p class="author">{{site.author}}</p>
    
    <p class="site-description">{{site.description}} <!--<a href="/about/">[ More about me ] --></a></p>
    
    <div class="social">
        {% include icon-github.html %}
        {% include icon-twitter.html %}
        {% include icon-linkedin.html %}
        {% include icon-rss.html %}
        {% include icon-steam.html %}
    </div>
    
    <div class="latest-posts">
        <p class="title">Latest posts</p>
        <hr/>
        {% for post in site.posts offset:5 limit:5 %}
            <a href="{{post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endfor %}
    </div>
        
    <div class="archive">
        <p class="title">Archives</p>
        <hr/>
        <p>
            Looking for older posts? Click <a href="/archive/">here</a>
        <p>
    </div>
    
</div>
