
$body-color: #fff;
$info-header-color: #393E46;
$link-color: #00ADB5;
$right-pane-title-sections-color: $info-header-color;

$base-font-size: 1.7em;
$base-line-height: 1.2em;

body {

    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $body-color;

     a {

        color: $link-color;

        &:visited {

            color: $link-color;

        }

        &:hover {

            color: darken($link-color,15%);
            text-decoration: none;

        }

    }
}

.container {

    .right-pane-container {

        margin: 20px 0px 0px 0px;

        @media screen and (max-width: 991px) {
            display: none;
        }

        .site-description {

            font-size: 1.1em;
            margin: 10px 0px 10px 60px;

        }

        .author {

            font-size: 1.5em;
            margin-left: 10px;
            font-weight: bold;
            margin: 10px 0px 0px 102px;

            @media screen and (max-width: 1200px) {
                margin: 10px 0px 10px 70px;
            }

        }

        .profile-pic {

            margin: 0px 0px 0px 100px;
            width: 150px;
            height: 150px;

            @media screen and (max-width: 1200px) {
                margin: 10px 0px 10px 70px;
            }

        }

        .social {

            margin: 0px 0px 0px 95px;

            @media screen and (max-width: 1200px) {
                margin: 0px 0px 0px 75px
            }

        }

        .latest-posts {

            margin: 50px 0px 10px 60px;

            hr {
                margin-top: 0px;
                border-top-width: 4px;
            }

            .title {
                font-size: 1.5em;
                margin-bottom: 5px;
                color: lighten($right-pane-title-sections-color, 25%);
            }
        }

        .tags {
            @extend .latest-posts;
        }

        .archive {
            @extend .latest-posts;
        }

    }
    
    .posts {

        .title {
            
            font-size: 1.8em;
            margin-top: 40px;

        }

    }

    article {

        h1, h2, h3, h4 {

            margin: 40px 0px 20px 0px;        
        
        }

        h1 {

            font-size:1.8em;

        }

        .post-content {

            p {
                padding: 10px 0 0 0;
            }

            font-size: 17px;
            letter-spacing: -0.063px;
            line-height: 33.18px;
            margin: 20px 0px 50px 0px;
            padding-top: 20px;

        }

        .infobox {

             height: 100%;
             padding: 5px 1px 10px 10px;

        }

        .post-info {

            height: 30px;
            display: flex;

            .date {

                @extend .infobox;
                color: #fff;
                background-color: $info-header-color;
                width: 200px;

            }

            .author {

                @extend .infobox;
                width: 100%;
                border-bottom: 2px solid $info-header-color;

            }
        }
    }
}

